@media only screen and (max-width: 1200px) {
    .grid-container {
        display: block;
    }
    div.do-not-display{
        display:none;
    }

    ul{
        padding-left: 15px;
        list-style-position: inside;
    }
}

@media only screen and (min-width: 1201px) {
    #canvas {
        width: 1200px;
        margin: auto;
        -webkit-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);
    }

    .grid-container {
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-gap: 0px;
    }

    ul {
        float: left;

    }
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4em;
}

p {
    margin-top: 0;
}

/*#canvas {*/
/*    width: 70%;*/
/*    margin: auto;*/
/*    -webkit-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);*/
/*    -moz-box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);*/
/*    box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.75);*/
/*}*/


.grid-container {
    background-color: white;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.title {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    float: top;
}

.content {
    grid-column-start: 4;
    grid-column-end: 7;
}

div.header {
    grid-column-start: 1;
    grid-column-end: 8;
    font-family: 'Montserrat', sans-serif;
    background-color: firebrick;
}

#h-n-t {
    width: 92%;
    margin: auto;
}

#h-name {
    font-size: 2em;
    letter-spacing: 0.2em;
    color: white;
}

#h-title {
    letter-spacing: 0.43em;
}

div.thick-black-line {
    grid-column-start: 1;
    grid-column-end: 8;
    height: 10px;
    background-color: black;
    padding: 3px;
}

div.thin-black-line {
    grid-column-start: 1;
    grid-column-end: 8;
    height: 5px;
    background-color: black;
    padding: 0px;
    margin-bottom: 15px;
}

div.footer {
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: firebrick;
    height: 30px;
}

#social-title {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
}

#social {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: left;
}

#personal-title {
    grid-column-start: 5;
    grid-column-end: 6;
    text-align: left;
}

#personal {
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: left;
}

ul {
    list-style-type: square;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px 0 20px;
}