body {
    font-family: 'Nunito', sans-serif;
}

div#header{
    letter-spacing: 0.4em;
}

.header{grid-area: header;}
.title{grid-area: title;}
.content{grid-area: content;}
.footer{grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}


div.tableCell:nth-child(even) {
    background-color: beige;
}

ul {
    list-style-type: none;
}

ul.bulleted {
    list-style-type: square;

}

li.strong {
    font-weight: bold;
}

p.title {
    letter-spacing: 0.2em;
    font-size: 1.2em;
}
